<form method="POST" action="/ducks">
Name: <input type="text" name="name">
description: <input type="text" name="description">
Student Id: <input type="text" name="student_id">
<input type="submit">
</form>